*{
  box-sizing: border-box;
}
body{
  background-color: rgb(130, 205, 208);
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
}
nav{
  text-align: center;
  padding: 1em;
}
nav a{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  display: inline-block;
  border: 3px inset transparent;
  padding: 1em;
}
nav a:hover{
  border: 3px inset black;
}
